*{
    margin: 0;
    padding: 0;
    
}
body{
    max-width: 1200px;
    margin: auto;   
    background-image: linear-gradient( 99deg,  rgba(115,18,81,1) 10.6%, rgba(28,28,28,1) 118% );
}  

h1{
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 60px;
    font-weight: 500;
}
#more{
    
    padding: 3px;
    border-radius:  20%;
    border: 2px solid plum;
    background-color: rgb(54, 34, 52);
    font-family: 'PT Sans Narrow', sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: rgb(119, 247, 247);
}
nav{    
    height: 130px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#me{
    width: 350px;
    height: 450px;   
    border-radius: 20%;
    margin:10px 50px 10px 30px;

}
main{    
    font-size: larger;
    border-top: 2px white solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
h3{ overflow:hidden;
    animation: digitando 2.5s steps(500);
    color: azure;
    line-height: 40px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 33px;
    width: 600px;
    font-kerning: none;   
}
@keyframes digitando{
    from{
        width: 0;
    }
}
footer{
    width: 100%;   
    color: white;
    font-size: 20px;
    border-top: 2px solid white;
}
@media(max-width:1000px){
    #me{ width: 300px;
        height: 400;

    }
    h3{
        width: 400px;
        font-size: large;
    }

}
@media(max-width:800px){
    main{
        display: flex;
        flex-direction: column;
    }
    h1{
        font-size: 25px;
    }
  
}